/*#F07C42;*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  padding-top: 55vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.3)), url("../img/example1.jpg") center top;
  background-size: cover;
}

.home__name {
  font-size: 3.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}

.home__name--first {
  color: #769D1B;
}

.home__name--last {
  color: #FBBC05;
  font-weight: 700;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  opacity: 0.98;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  transform: translateY(0);
}

.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: #FBBC05;
}

.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem 0.5rem;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #FBBC05;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.55s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.75s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.95s;
}

.about__bio-image {
  height: 73vh;
  width: 100%;
  padding-bottom: .5rem;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.3)), url("../img/example1.jpg") center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.about__bio {
  width: 85%;
  text-align: center;
}

.about .jobs {
  width: 60vw;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.about .jobs__job {
  background: #414141;
  padding: 0.5rem;
  border-bottom: 5px solid #FBBC05;
}

.about .jobs__job h2, .about .jobs__job h3 {
  margin: 0.5rem 0;
}

.about .jobs__job h5 {
  margin: 0.3rem 0;
  color: #769D1B;
}

.certifications {
  padding-bottom: 2rem;
}

.certifications__bio-image {
  height: 45vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.3)), url("../img/example1.jpg") center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.certifications__bio-image .text-secondary {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.certifications__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-gap: 2rem;
}

.certifications__items h2 {
  padding: 0.5rem;
}

.certifications__item {
  position: relative;
  border-bottom: 5px solid #FBBC05;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.certifications__item img {
  width: 100%;
}

.certifications__item:hover {
  transform: scale(1.05);
}

.certifications footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.projects {
  padding-bottom: 2rem;
}

.projects__bio-image {
  height: 45vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.3)), url("../img/example1.jpg") center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.projects__bio-image .text-secondary {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.projects__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-gap: 2rem;
}

.projects__item {
  position: relative;
  border-bottom: 5px solid #FBBC05;
  overflow: hidden;
  cursor: pointer;
}

.projects__item img {
  width: 100%;
}

.projects__item::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FBBC05;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}

.projects__item:hover .projects__btn {
  opacity: 1;
}

.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}

.projects__btn {
  opacity: 0;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.projects__btn:hover {
  color: #fff;
}

.projects .social-icons {
  display: flex;
  flex-direction: column;
}

.projects footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.contact {
  height: 100%;
  padding-top: 46vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.3)), url("../img/example1.jpg") center top;
  background-size: cover;
}

.contact h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #FBBC05;
}

.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  grid-gap: 1rem;
  font-size: 1.1rem;
}

@media only screen and (max-width: 575px) {
  .home .social-icons,
  .contact .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
  }
  .home .social-icons a,
  .contact .social-icons a {
    padding: 1rem;
  }
  main .about .social-icons,
  main .certifications .social-icons,
  main .projects .social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .about .social-icons a,
  main .certifications .social-icons a,
  main .projects .social-icons a {
    padding: .5rem;
  }
  main .about footer,
  main .certifications footer,
  main .projects footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
  main .about .jobs__job h2, main .about .jobs__job h3 {
    font-weight: 300;
    margin: 0.2rem 0;
  }
}

@media screen and (min-width: 576px) {
  .home .social-icons,
  .contact .social-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .home footer,
  .contact footer {
    z-index: 1;
    bottom: 1.5rem;
  }
  .contact__list {
    grid-gap: 1.3rem;
    font-size: 1.3rem;
  }
  main .about .social-icons,
  main .certifications .social-icons,
  main .projects .social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .about .social-icons a,
  main .certifications .social-icons a,
  main .projects .social-icons a {
    padding: .5rem;
  }
  main .about footer,
  main .certifications footer,
  main .projects footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
  main .about__bio-image {
    height: 60vh;
  }
  main .about__bio-image .about__bio {
    margin-bottom: .5rem;
    font-size: 1.1rem;
  }
  main .about__bio-image .about__bio h2 {
    font-size: 2rem;
  }
  .certifications__bio-image {
    height: 60vh;
  }
  .certifications__bio-image .text-secondary {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  .certifications__items {
    width: 40vw;
  }
  .projects__bio-image {
    height: 60vh;
  }
  .projects__bio-image .text-secondary {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  .projects__items {
    width: 40vw;
  }
}

@media screen and (min-width: 768px) {
  .home {
    padding-top: 45vh;
  }
  main .about__bio-image {
    height: 65vh;
  }
  main .about__bio-image .about__bio {
    font-size: 1.2rem;
  }
  main .about__bio-image .about__bio h2 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
  .certifications__bio-image .text-secondary {
    font-size: 3rem;
    margin-bottom: 2.2rem;
  }
  .certifications__items {
    width: 50vw;
  }
  .projects__bio-image .text-secondary {
    font-size: 3rem;
    margin-bottom: 2.2rem;
  }
  .projects__items {
    width: 60vw;
  }
  .contact {
    padding-top: 45vh;
  }
  .contact h1 {
    font-size: 3rem;
    margin-bottom: 2.2rem;
  }
  .contact__list {
    grid-gap: 1.4rem;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 992px) {
  .home {
    padding-top: 48vh;
  }
  main .about__bio-image {
    height: 70vh;
  }
  main .about__bio-image .about__bio {
    width: 65%;
    font-size: 1.3rem;
  }
  main .about__bio-image .about__bio h2 {
    font-size: 2.5rem;
  }
  .certifications__bio-image {
    height: 70vh;
  }
  .certifications__items {
    grid-template-columns: repeat(2, 1fr);
    width: 70vw;
  }
  .certifications .text-secondary {
    font-size: 3rem;
  }
  .it_re .certifications__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects__bio-image {
    height: 70vh;
  }
  .projects__items {
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
  }
  .projects .text-secondary {
    font-size: 3rem;
  }
  .contact {
    padding-top: 44vh;
  }
  .contact h1 {
    margin-bottom: 1.8rem;
  }
  .contact__list {
    grid-gap: 1.2rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    padding-top: 50vh;
  }
  main .about__bio-image {
    height: 70vh;
  }
  main .about__bio-image .about__bio {
    width: 60%;
    font-size: 1.2rem;
  }
  main .about__bio-image .about__bio h2 {
    font-size: 2.5rem;
  }
  .certifications__bio-image {
    height: 60vh;
  }
  .certifications__items {
    grid-template-columns: repeat(2, 1fr);
    width: 70vw;
  }
  .projects__bio-image {
    height: 60vh;
  }
  .contact {
    padding-top: 42vh;
  }
  .contact__list {
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    grid-gap: 1.2rem;
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1400px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
  .idiom {
    text-transform: uppercase;
  }
  .home {
    padding-top: 55vh;
  }
  .home h2 {
    font-size: 2.5rem;
  }
  .home__name {
    font-size: 5rem;
  }
  main .about__bio-image {
    height: 75vh;
  }
  main .about__bio-image .about__bio {
    width: 70%;
    font-size: 1.4rem;
  }
  main .about__bio-image .about__bio h2 {
    font-size: 3rem;
  }
  .certifications__bio-image {
    height: 75vh;
  }
  .certifications__items {
    grid-template-columns: repeat(3, 1fr);
  }
  .projects__bio-image {
    height: 75vh;
  }
  .projects__items {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact {
    padding-top: 45vh;
  }
}

@media screen and (min-width: 1700px) {
  .home {
    padding-top: 65vh;
  }
  main .about__bio-image {
    height: 76vh;
  }
  main .about__bio-image .about__bio {
    width: 85%;
  }
  .certifications__bio-image {
    height: 76vh;
  }
  .projects__bio-image {
    height: 76vh;
  }
  .contact {
    padding-top: 60vh;
  }
  .contact h1 {
    margin-bottom: 3rem;
  }
  .contact__list {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    grid-gap: 1rem;
    font-size: 1.7rem;
  }
}

body {
  background: #272727;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
  letter-spacing: 1.1px;
  word-spacing: 1.2px;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #FBBC05;
}

.text-secondary {
  color: #FBBC05;
}

.text-tertiary {
  color: #769D1B;
}

nav.scroll {
  background-color: #769D1B;
  color: #eef;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
}

main .social-icons a {
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  color: #769D1B;
}

main .social-icons a:hover {
  color: #FBBC05;
}

main .idiom {
  z-index: 5;
  position: fixed;
  top: 1.8rem;
  left: 2rem;
}

main footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
  z-index: -5;
}
