$primary-color: #272727;
$secondary-color: #FBBC05;
$tertiary-color: #769D1B; /*#F07C42;*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin transform-105 {
    transform: scale(1.05);
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #333;
    } @else {
        @return #fff;
    }
}


@mixin media-xsm {
    @media only screen and (max-width: 575px) {
        @content;
    } 
}

@mixin media-sm {
    @media screen and (min-width: 576px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 992px) {
        @content;
    }
}


@mixin media-xl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin media-xxl {
    @media screen and (min-width: 1400px) {
        @content;
    }
}

@mixin media-xxxl {
    @media screen and (min-width: 1700px) {
        @content;
    }
}